<p-dialog [(visible)]="visible"
          [style]="{ width: '600px', height: '800px' }"
          header="{{ exerciseName }}"
          [modal]="true"
          (onHide)="hideDialog()">

    <ng-template #content>
        <p-fluid class="grid grid-cols-12 gap-8">
            <div class="col-span-12">
                <p-chart type="line" [data]="chartData" [options]="lineOptions"></p-chart>

                <div class="mt-4" *ngIf="oneRepMax || threeRepMax || fiveRepMax">
                    <h4 class="mb-2">Maximale Wiederholungen</h4>
                    <div class="grid grid-cols-3 gap-4 text-center">
                        <p *ngIf="oneRepMax">1RM: {{ oneRepMax.weight }} kg</p>
                        <p *ngIf="threeRepMax">3RM: {{ threeRepMax.weight }} kg</p>
                        <p *ngIf="fiveRepMax">5RM: {{ fiveRepMax.weight }} kg</p>
                    </div>
                </div>
            </div>
        </p-fluid>
    </ng-template>

    <ng-template #footer>
        <p-button label="Schließen" icon="pi pi-times" text (click)="hideDialog()" />
    </ng-template>
</p-dialog>
