    <div class="card flex flex-col h-full max-h-full w-full">
        <div class="flex flex-col flex-grow justify-between form overflow-auto">
            <form [formGroup]="workoutForm" class="flex-grow overflow-auto">
                    <div class="flex flex-col gap-6">
                        <!-- Date -->
                        <div>
                            <div class="block font-bold mb-2">Datum</div>
                            <p-datepicker formControlName="date" [showIcon]="true" [showButtonBar]="true" fluid></p-datepicker>
                        </div>

                        <!-- Workout Type -->
                        <div>
                            <div class="block font-bold mb-2">Workout Type</div>
                            <p-autocomplete
                                formControlName="workoutType"
                                fluid
                                [suggestions]="autoFilteredWorkoutType"
                                optionLabel="label"
                                dropdown
                                (completeMethod)="filterWorkoutTypes($event)"
                            ></p-autocomplete>
                        </div>

                        <!-- Time and Rounds -->
                        <div class="flex justify-around">
                            <div>
                                <div class="block font-bold mb-2">Zeit (Minuten)</div>
                                <input pInputText fluid formControlName="totalTime" placeholder="MM:SS" />
                            </div>
                            <div>
                                <div class="block font-bold mb-2">Runden</div>
                                <p-inputNumber fluid formControlName="totalRounds" [min]="0" mode="decimal" [showButtons]="true"></p-inputNumber>
                            </div>
                        </div>

                        <!-- Notes -->
                        <div>
                            <label for="notes" class="block font-bold mb-1">Notes</label>
                            <textarea id="notes" pTextarea formControlName="notes" required rows="3" cols="20" fluid></textarea>
                        </div>

                        <!-- Exercises -->
                        <div>
                            <div class="flex justify-between items-center">
                                <label class="block font-bold mb-3">Übungen</label>
                                <p-button icon="pi pi-plus" [rounded]="true" [text]="true" severity="primary" (click)="addExerciseGroup()"></p-button>
                            </div>

                            <div class="mb-10" formArrayName="exercises">
                                <p-accordion id="exercises">
                                    <p-accordion-panel
                                        *ngFor="let exercise of exercisesArray.controls; let i = index"
                                        [formGroupName]="i"
                                        class=""
                                        [value]="i"
                                    >
                                        <p-accordion-header>
                                            {{ exercise.get('exercise')?.value?.name || 'Übungsname' }}
                                        </p-accordion-header>
                                        <p-accordion-content>
                                            <!-- Exercise Autocomplete -->
                                            <div class="block font-bold mb-2">Übung</div>
                                            <p-autocomplete
                                                fluid
                                                formControlName="exercise"
                                                [suggestions]="autoFilteredExercises"
                                                optionLabel="name"
                                                placeholder="Wähle Übung"
                                                dropdown
                                                appendTo="body"
                                                (completeMethod)="filterExercises($event)"
                                            ></p-autocomplete>

                                            <!-- Reps -->
                                            <div class="flex flex-col mt-3">
                                                @if (exercise.get('exercise')?.value) {
                                                    @if (exercise.get('exercise')?.value?.category === 'Strength' || exercise.get('exercise')?.value?.category === 'Bodyweight') {
                                                        <div class="mb-2">
                                                            <div class="block font-bold mb-2">Wiederholungen</div>
                                                            <p-inputNumber fluid formControlName="reps" placeholder="Reps"></p-inputNumber>
                                                        </div>
                                                        <div class="mb-2">
                                                            <div class="block font-bold mb-2">Gewicht</div>
                                                            <p-inputNumber fluid formControlName="weight" placeholder="Weight"></p-inputNumber>
                                                        </div>
                                                    }
                                                    @if (exercise.get('exercise')?.value?.category === 'Cardio') {
                                                        <div class="mb-2">
                                                            <div class="block font-bold mb-2">Zeit (Minuten)</div>
                                                            <input pInputText fluid formControlName="duration" placeholder="Minuten">
                                                        </div>
                                                        <div class="mb-2">
                                                            <div class="block font-bold mb-2">Kalorien</div>
                                                            <p-inputNumber fluid formControlName="calories" placeholder="Kalorien"></p-inputNumber>
                                                        </div>
                                                        <div class="mb-2">
                                                            <div class="block font-bold mb-2">Distanz (Meter)</div>
                                                            <p-inputNumber fluid formControlName="distance" placeholder="Distanz"></p-inputNumber>
                                                        </div>
                                                    }
                                                    <div class="flex justify-center">
                                                        <p-button
                                                            icon="pi pi-trash"
                                                            [rounded]="true"
                                                            [text]="true"
                                                            severity="danger"
                                                            (click)="removeExerciseGroup(i)"
                                                        ></p-button>
                                                    </div>
                                                }
                                            </div>
                                        </p-accordion-content>
                                    </p-accordion-panel>
                                </p-accordion>
                            </div>
                        </div>
                    </div>
            </form>
            <p-button fluid label="Speichern" icon="pi pi-check" (click)="save()" />
        </div>
    </div>
